PRAGMA foreign_keys = OFF;
BEGIN TRANSACTION;
DROP TABLE IF EXISTS Students;
COMMIT;
PRAGMA foreign_keys = ON;

CREATE TABLE Students (
Id INTEGER PRIMARY KEY AUTOINCREMENT,
Name1 TEXT NOT NULL,
Name2 TEXT NOT NULL,
Name3 TEXT NOT NULL,
Name4 TEXT NOT NULL,
Name5 TEXT NOT NULL,
Name6 TEXT NOT NULL,
Name7 TEXT NOT NULL,
Address TEXT NOT NULL,
Score INTEGER,
Age INTEGER NOT NULL
);

